<!doctype html>
<html lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta name="viewport" content="width=device-width">
  <script src="js/jquery-3.6.4.min.js"></script>
  <script src="js/jquery.js"></script>
  <title>とりトレ</title>
  <link rel="stylesheet"   href="css/import.css"> 
</head>

<body>
  <header class="site-header">
    <nav  class="gnav">
      <ul class="gnav__menu">
        <li class="gnav__menu__item"><a href="index.html">とりトレ</a></li>
        <script>
          var exp = new Date(); // Declare a variable and get the current date and time
          exp.setDate(exp.getDate()+730); // Expiration date is 2 years later
          document.cookie = "user=<tmpl_var name = user>"; // Write username
          document.cookie = 'expires=' + exp.toGMTString(); // Write the expiration date
        </script>
        <li class="gnav__menu__item">
          <tmpl_if name = login>Username: <tmpl_var name=user>さん　</tmpl_if>
        </li>
      </ul>
    </nav>
  </header>

  <h1>とりトレメニュー</h1>
  <div id="container_vertically_long">
    <div id="itemM">
      <p>
        <tmpl_if name = login>
          <p class="login"><font color="red">ログインしました。</font>
        </tmpl_if></p>
      <p>
        <form method="post" action="quiz_training.cgi" >
          <input type="submit" value="クイズトレーニング" class="next nextMenu">※毎日のトレーニングに！1問からお気軽にどうぞ！
          <input type="hidden" name="user" value="<tmpl_var name=user>" >
        </form>
      </p>
      <p>
        <form method="post" action="arrival_quiz.cgi" >
          <input type="submit" value="5分で到達度テスト" class="next nextMenu">※実力試しに！
          <input type="hidden" name="user" value="<tmpl_var name=user>" >
        </form>
      </p><br>
      <p>
        <tmpl_if name = login>
        <tmpl_else>
          <form method="post" action="user_registration.html" >
          <input type="submit" value="ユーザー登録" class="next_med next_medMenu">
          ※履歴が確実に残ります！ユーザー名とパスワードのみで登録可能！</form>
      </p>
      <p>
          <form method="post" action="login.html" >
          <input type="submit" value="ログイン" class="next_med next_medMenu"></form>
        </tmpl_if>
      </p>
      <p>
        <tmpl_if name = login>
          <h3><tmpl_var name=user>さんのステータス</h3>
              <p>
              ・ログイン　　：<tmpl_var name = login_date>日目　<br>
              ・クイズ回答数：<tmpl_var name = count>問　<br>
              </p>
              <h3>ログイン履歴（直近10回分）</h3>
              <p><tmpl_var name = login_history></p>
        </tmpl_if>
      </p>
      <p>
        <a href="guide.html" target="_blank">とりトレの使い方についてはこちらをクリック</a>
      </p>
      
    </div> <!--itemM-->
    <div id="itemN">
    </div>
    <div id="itemO">
    </div>
    <div id="itemP">
    </div>
    　　
  </div> <!--container-->
<div class="footer-inner">
	<div id="footerNies">
		<a class="image_link" href="http://www.nies.go.jp/fukushima/" target="_blank"><img src="icon/niesfukushima_logo_JP_1_color.png" width="270" height="65" title="fukushima_logo" alt="fukushima_logo"></a>
		<a class="image_link" href="http://www.nies.go.jp/biology/" target="_blank"><img src="icon/BioDiv_logo.png" width="270" height="65" title="BioDiv_logo" alt="BioDiv_logo"></a>
	</div>
	<div id="footerLink">
		<a href="sitepolicy.html">とりトレの利用規約</a>
		<a href="http://www.nies.go.jp/sitepolicy.html" target="_blank">著作権・リンクについて</a>
		<a href="http://www.nies.go.jp/kojinjoho/privacypolicy.html" target="_blank">プライバシーポリシー</a>
	</div>
	<p id="copyright">© 2024 National Institute for Environmental Studies</p>
</div>
</body>
</html>