doctype html>
<html lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
  <meta name="viewport" content="width=device-width">
  <title>とりトレ</title>
  <link rel="stylesheet"   href="css/import.css"> 
  <script src="js/jquery-3.6.4.min.js"></script>
  <script src="js/jquery.js"></script>
</head>

<body>

<header class="site-header">
  <nav>
    <ul class="gnav__menu">
      <li class="gnav__menu__item"><a href="index.html">とりトレ</a></li>
    </ul>
  </nav>
</header>

<h1>ユーザー名、パスワードの確認</h1> <!-- title -->
<div id="container_vertically_long">
  <div id="itemM">
<p class="sub_title"></p>

<p>ユーザー名：<tmpl_var name = user><br>
パスワード：設定したパスワード</p>
<p>以上でよろしければ「登録」ボタンを押してください。修正する場合はブラウザの戻るボタンを押してください。</p>
<p><form method="post" action="user_registration_complete.cgi" >
<input type="hidden" name="user" value="<tmpl_var name = user>">
<input type="hidden" name="pw_md5" value="<tmpl_var name = pw_md5>">
<input type="submit" value="登録" class="btn"></form></p>
  </div>
  <div id="itemN">
  </div>
  <div id="itemO">
  </div>
  <div id="itemP">
    <!--<p class="font75">-->
      
    <!--</p>-->
  </div>
　　
</div>
<div class="footer-inner">
	<div id="footerNies">
		<a class="image_link" href="http://www.nies.go.jp/fukushima/" target="_blank"><img src="icon/niesfukushima_logo_JP_1_color.png" width="270" height="65" title="fukushima_logo" alt="fukushima_logo"></a>
		<a class="image_link" href="http://www.nies.go.jp/biology/" target="_blank"><img src="icon/BioDiv_logo.png" width="270" height="65" title="BioDiv_logo" alt="BioDiv_logo"></a>
	</div>
	<div id="footerLink">
		<a href="sitepolicy.html">とりトレの利用規約</a>
		<a href="http://www.nies.go.jp/sitepolicy.html" target="_blank">著作権・リンクについて</a>
		<a href="http://www.nies.go.jp/kojinjoho/privacypolicy.html" target="_blank">プライバシーポリシー</a>
	</div>
	<p id="copyright">© 2024 National Institute for Environmental Studies</p>
</div>
</body>
</html>